<div class="container spacer" *ngIf="posteUser=='administrateur'">
  <div class="disconnect">
    <label>USER:{{login}}</label>
    <button  (click)="disconect()" class="btn">déconnexion</button>
  </div>
  <button routerLink="/dashboard" class="btn btn-primary" >Accueil</button>

  <button routerLink="/profiles" class="btn btn-primary" >Gestion Profiles</button>
  <button routerLink="/membres" class="btn btn-primary">Gestion Membres</button>
  <button routerLink="/moteurs" class="btn btn-primary">Gestion Moteurs</button>
  <button routerLink="/shops" class="btn btn-primary">Gestion SM/MM</button>
  <button routerLink="/clients" class="btn btn-primary">Gestion Clients</button>

</div>

<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel panel-heading"> Gestion des Profiles</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Recherche:</label>
        <input type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-primary">Chercher</button>
<div class="excel">
  <img src="./assets/Excell.png" (click)="export()"/>
  <img src="./assets/icon.png" />
</div>

      </div>
      <div>

        <table class="table table-striped">
          <form #f="ngForm" (ngSubmit)="onAddProfile(f.value)">

            <tr>
              <td><input class="form-control" type="text" ngModel name="id" placeholder="id" required/></td>
              <td><input class="form-control" type="text" ngModel name="poste" placeholder="poste" required/></td>
              <td><button  type="submit" class="btn btn-primary">Ajouter</button></td>
            </tr>
          </form>
        </table>
      </div>

      <table class="table table-striped">
        <tr>
          <th>Id</th><th>Poste</th><th></th><th></th>
        </tr>
        <tr *ngFor="let c of profiles">
          <td>{{c.id_Profile}}</td>
          <td>{{c.poste}}</td>
          <td>
            <a (click)="onEditProfile(c.id_Profile)"  class="clickable btn btn-info"> Edit </a>
          </td>
          <td>
            <a  (click)="onDeleteProfile(c)" class="clickable btn btn-danger"> Delete </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


