<div class="container spacer" *ngIf="posteUser=='administrateur'">
  <div class="disconnect">
    <label>USER:{{login}}</label>
    <button  (click)="disconect()" class="btn">déconnexion</button>
  </div>
  <button routerLink="/dashboard" class="btn btn-primary" >Accueil</button>
  <button routerLink="/profiles" class="btn btn-primary" >Gestion Profiles</button>
  <button routerLink="/membres" class="btn btn-primary">Gestion Membres</button>
  <button routerLink="/moteurs" class="btn btn-primary">Gestion Moteurs</button>
  <button routerLink="/shops" class="btn btn-primary">Gestion SM/MM</button>
  <button routerLink="/clients" class="btn btn-primary">Gestion Clients</button>

</div>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel panel-heading"> Gestion des Clients</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Recherche:</label>
        <input type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-primary">Chercher</button>
        <div class="excel">
          <img src="./assets/Excell.png" (click)="export()"/>
          <img src="./assets/icon.png"  (click)="exportPdf()"/>
        </div>
      </div>
      <div>

        <table class="table table-striped">
          <form #f="ngForm" (ngSubmit)="onAddClient(f.value)">

            <tr>
              <td><input class="form-control" type="number" ngModel name="id_Client" placeholder="id" required/></td>
              <td><input class="form-control" type="text" ngModel name="nom" placeholder="nom" required/></td>
              <td><button  type="submit" class="btn btn-primary">Ajouter</button></td>
            </tr>
          </form>
        </table>
      </div>

      <table class="table table-striped">
        <tr>
          <th>Id</th><th>Nom</th><th></th><th></th>
        </tr>
        <tr *ngFor="let c of pageClient?.content">
          <td>{{c.idClient}}</td>
          <td>{{c.nom}}</td>
          <td>
            <a (click)="onEditClient(c.idClient)"  class="clickable btn btn-info"> Edit </a>
          </td>
          <td>
            <a  (click)="onDeleteClient(c)" class="clickable btn btn-danger"> Delete </a>
          </td>
        </tr>
      </table>

      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages ; let i =index"><a class="clickable" (click)="gotoPage(i)">{{i}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


