<div class="container spacer" *ngIf="posteUser=='ingenieur'">
  <div class="disconnect">
    <label>USER:{{login}}</label>
    <button  (click)="disconect()" class="btn">déconnexion</button>
  </div>
  <button routerLink="/dashboard" class="btn btn-primary" >Accueil</button>
  <button routerLink="/fiches" class="btn btn-primary" >Gestion Fiches Moteurs</button>
  <button routerLink="/propositions" class="btn btn-primary">Gestion Propositions</button>

</div>
<div class="spacer">
  <div class="panel panel-primary">
    <div class="panel panel-heading"> Gestion des Propositions</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Recherche:</label>
        <input type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-primary">Chercher</button>
        <div class="excel">
          <img src="./assets/Excell.png" (click)="export()"/>
          <img src="./assets/icon.png" />
        </div>
      </div>

      <table class="table table-striped" border="1">
        <tr>
          <th>Proposition</th><th>User_VST</th><th>SM/MM</th> <th>Moteur</th><th>Designation</th><th>PN</th><th>SubTask</th><th>Area</th><th>Finding</th><th>Family</th><th>Quantite</th><th>Statut</th><th>Manuel</th>
          <th>Date Creation</th><th>Date Previsionnelle</th><th></th>
        </tr>
        <tr *ngFor="let c of pageRapport?.content">
          <td><div *ngIf="c.proposition">{{c.proposition.id_proposition}}</div></td>
          <td>{{c.utilisateur.login}}</td>
          <td>{{c.smmm.id}} </td>
          <td>{{c.ficheMoteur.moteur.esn}}</td>
          <td>{{c.designation_rapport}}</td>
          <td>{{c.pn}}</td>
          <td>{{c.sub_task}}</td>
          <td>{{c.area}}</td>
          <td>{{c.finding}}</td>
          <td>{{c.family}}</td>
          <td>{{c.qty}}</td>
          <td>{{c.statut}}</td>
          <td>{{c.manuel}}</td>
          <td>{{c.date_creation}}</td>
          <td>{{c.date_previsionnelle}}</td>
          <td>
            <a  *ngIf="c.proposition==null" (click)="onAddProposition(c.id_Rapport)"  class="clickable btn btn-info"> Ajouter </a>
          </td>
        </tr>
      </table>

      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages ; let i =index"><a class="clickable" (click)="gotoPage(i)">{{i}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
